<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/">
        <h2>Search a song</h2>
        <input name="searchQuery" type="search">
        <button type="submit">Search</button>
    </form>
<!--
    <audio controls>
        <source src="https://p.scdn.co/mp3-preview/bd767c697e4e77c4bfd1c1b2da90fd5d386f025f?cid=null" type="audio/mp3">
    </audio>
-->

    <% if (items.length > 0) { %>
    <ul>
        <% items.forEach(function(track) { %>
        <li><a href="/chat/<%= track.id %>"><%= track.artists[0].name %> — <%= track.name %></a></li>
        <% }) %>
    </ul>
    <% } %>

</body>
</html>
